[Unit]
Description=Run rust-metafile-template

[Timer]
OnBootSec=5min
OnUnitActiveSec=35min
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
